#dropdown {
  position: fixed;
  left: 0;
  width: 150px;
  height: 50px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.dropbtn {
  background-color: #f1f1f1;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
